node_modules

# Output
.output
.vercel
.netlify
.wrangler
/.svelte-kit
/build

# Node
node_modules/
npm-debug.log
pnpm-debug.log
yarn-debug.log
yarn-error.log

# SvelteKit build
.build/
.svelte-kit/
.vercel/
dist/
build/
# OS
.DS_Store
Thumbs.db

# env
.env
.env.*
!.env.example
!.env.test

# Vite
vite.config.js.timestamp-*
vite.config.ts.timestamp-*
